
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IbrahimTodoApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- Le body -->

<div class="container my-5">
  <h1 class="text-center mb-4">Gestionnaire de tâches</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label>Nom de la tâche</label>
            <input [(ngModel)]="newTaskName" class="form-control">
          </div>
          <div class="form-group">
            <label>Contenu de la tâche</label>
            <textarea [(ngModel)]="newTaskContent" class="form-control"></textarea>
          </div>
          <button (click)="addTask()" class="btn btn-primary btn-block">Ajouter une tâche</button>
        </div>
      </div>
      <table class="table table-striped mt-4">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Contenu</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks" [class.table-success]="task.status === 'cloturer'">
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.content }}</td>
            <td>{{ task.status }}</td>
            <td>
              <button (click)="closeTask(task.id)" class="btn btn-success" *ngIf="task.status === 'active'">Clôturer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Footer -->

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2024 IbrahimTodoApp. Tous les droits sont réservés.</span>
  </div>
</footer>